/*******************************************************************************
*******************************************************************************/

@import url(pygment_trac.css);
@font-face {
font-family: "DNLTM";
src: url("../fonts/DIN Next [OTF]/DINNextLTPro-Medium.otf");
}
@font-face {
font-family: "DINNextLTPro-Light";
src: url("../fonts/DIN Next [OTF]/DINNextLTPro-Light.otf");
}
@font-face {
font-family: "DINNextLTPro-Regular";
src: url("../fonts/DIN Next [OTF]/DINNextLTPro-Regular.otf");
}
@font-face {
font-family: "DINNextRoundedLTPro-Bold";
src: url("../fonts/DIN Next Rounded/DINNextRoundedLTPro-Bold.otf");
}
/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/

/** temp **/
.soon{
  margin: 0 auto;
  text-align: center;
  padding-top: 100px;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a:focus {
  outline: none;
}

/*******************************************************************************
Theme Styles
*******************************************************************************/

body {
  box-sizing: border-box;
  color:#373737;
  background: url('../images/bg.png') repeat;
  font-size: 16px;
  font-family: "DINNextLTPro-Medium", "Helvetica Neue",Helvetica,Arial,sans-serif;  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-weight: 700;
  color:#80A41A;
  letter-spacing: -1px;
  text-shadow: 1px 1px 4px white;
}
h1, h2, h3{
/*  font-family: "Roboto";
*/}

h1 {
  font-size: 36px;
  font-weight: 600;
  color: orange;
}

h2 {
  padding-bottom: 10px;
  font-size: 36px;
  background: url('../images/bg_hr.png') repeat-x bottom;
}

h3 {
  font-size: 24px;
  text-decoration: underline;
}

h4 {
  font-size: 21px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  margin: 10px 10px 15px 10px;
}

footer p {
  color: #f2f2f2;
}

a {
  text-decoration: none;
  color: #007edf;
  text-shadow: none;

  transition: color 0.5s ease;
  transition: text-shadow 0.5s ease;
  -webkit-transition: color 0.5s ease;
  -webkit-transition: text-shadow 0.5s ease;
  -moz-transition: color 0.5s ease;
  -moz-transition: text-shadow 0.5s ease;
  -o-transition: color 0.5s ease;
  -o-transition: text-shadow 0.5s ease;
  -ms-transition: color 0.5s ease;
  -ms-transition: text-shadow 0.5s ease;
}

#main_content a:hover {
  color: #0069ba;
  text-shadow: #0090ff 0px 0px 2px;
}

footer a:hover {
  color: #43adff;
  text-shadow: #0090ff 0px 0px 2px;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

img {
  position: relative;
  margin: 0 auto;
  max-width: 739px;
  margin: 10px 0 10px 0;
  border: 5px solid #ffffff;

  box-shadow: 0 0 5px #ebebeb;
  -webkit-box-shadow: 0 0 5px #ebebeb;
  -moz-box-shadow: 0 0 5px #ebebeb;
  -o-box-shadow: 0 0 5px #ebebeb;
  -ms-box-shadow: 0 0 5px #ebebeb;
}

pre, code {
  width: 100%;
  color: #222;
  background-color: #fff;

  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: 14px;

  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;



}

pre {
  width: 100%;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  overflow: auto;
}

code {
  padding: 3px;
  margin: 0 3px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
}

pre code {
  display: block;
  box-shadow: none;
}

blockquote {
  color: #666;
  margin-bottom: 20px;
  padding: 0 0 0 20px;
  border-left: 3px solid #bbb;
}

ul, ol, dl {
  margin-bottom: 15px
}

ul li {
  list-style: none;
}

ol li {
  list-style: none inside;
  padding-left: 20px;
}

dl dt {
  font-weight: bold;
}

dl dd {
  padding-left: 20px;
  font-style: italic;
}

dl p {
  padding-left: 20px;
  font-style: italic;
}

hr {
  height: 1px;
  margin-bottom: 5px;
  border: none;
  background: url('../images/bg_hr.png') repeat-x center;
}

table {
  border: 1px solid #373737;
  margin-bottom: 20px;
  text-align: left;
 }

th {
  padding: 10px;
  background: #373737;
  color: #fff;
 }

td {
  padding: 10px;
  border: 1px solid #373737;
 }

form {
  background: #f2f2f2;
  padding: 20px;
}

img {
  width: 100%;
  max-width: 100%;
}

/*******************************************************************************
Full-Width Styles
*******************************************************************************/

.outer {
  width: 100%;
}

.inner {
  position: relative;
  max-width: 986px;
  padding: 20px 10px;
  margin: 0 auto;
}
.inner p { max-width: 820px;}
#forkme_banner {
  display: block;
  position: absolute;
  top:0;
  right: 10px;
  z-index: 10;
  padding: 10px 50px 10px 10px;
  color: #fff;
  background: url('../images/blacktocat.png') #0090ff no-repeat 95% 50%;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

#header_wrap {
/*  background: #78A300;
  background: -moz-linear-gradient(top, #78A300, #4A641A);
  background: -webkit-linear-gradient(top, #78A300, #4A641A);
  background: -ms-linear-gradient(top, #78A300, #4A641A);
  background: -o-linear-gradient(top, #78A300, #4A641A);
  background: linear-gradient(top, #78A300, #4A641A);*/
/*  border-bottom: 12px solid #FDFFF4; */
}

#header_wrap .inner {
  padding: 15px 10px 20px 10px;
}
header img{
  height: 160px;
  width: 130px;
  border: none;
  box-shadow: none;
  float: right;
  margin-top: -20px;
}
.headerpic{ margin: -10px 0 20px -20px;}
#top-nav{
    background: url('http://www.zendesk.com/wp-content/themes/zendesk-twentyeleven/img/navigation/background-normal.jpg');


/*  background: #76A100 url('../images/background-sprite.jpeg') 0 -220px repeat-x; 
*/  
height: 39px; 
width: 100%;
}
#project_title {
  margin: 0;
  color: #8BAA49;
  font-size: 56px;
  font-weight: 700;
/*  text-shadow: #111 0px 0px 10px;
  color: white;
text-shadow: 0 1px 4px #253500,1px -1px 6px #4E7000;
text-shadow: 0 1px 3px #253500;*/
text-transform: uppercase;
letter-spacing: 1px;
margin: 1px 0 0 0;

}

#project_tagline {
  display: none;
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  background: none;
  text-shadow: #111 0px 0px 10px;
}

#downloads {
  position: absolute;
  width: 210px;
  z-index: 10;
  bottom: -40px;
  right: 0;
  height: 70px;
  background: url('../images/icon_download.png') no-repeat 0% 90%;
}

.zip_download_link {
  display: block;
  float: right;
  width: 90px;
  height:70px;
  text-indent: -5000px;
  overflow: hidden;
  background: url('../images/sprite_download.png') no-repeat bottom left;
}

.tar_download_link {
  display: block;
  float: right;
  width: 90px;
  height:70px;
  text-indent: -5000px;
  overflow: hidden;
  background: url(../images/sprite_download.png) no-repeat bottom right;
  margin-left: 10px;
}

.zip_download_link:hover {
  background: url(../images/sprite_download.png) no-repeat top left;
}

.tar_download_link:hover {
  background: url(../images/sprite_download.png) no-repeat top right;
}

#main_content_wrap {
}

#main_content {
  padding-top: 40px;
}

#footer_wrap {
  box-shadow: inset 0px 13px 39px #E6E6E6;
}
.top-five{float: none; text-align: center; margin-top: 40px;}
.top-five a{ color: #1843AF;}
.top-five li{
  width: 46%;
  float: left;
  margin-left: 11px;
  margin-bottom: 11px;
  padding: 4px 10px 10px 10px;
    box-shadow: 0 0 5px #d6d6d6;
  -webkit-box-shadow: 0 0 5px #d6d6d6;
  -moz-box-shadow: 0 0 5px #d6d6d6;
  -o-box-shadow: 0 0 5px #d6d6d6;
  -ms-box-shadow: 0 0 5px #d6d6d6;

  background: url('../images/bg.png');


  box-shadow: inset 0px 13px 39px #E6E6E6;


}
.top-five li:first-child{
  width: 95%;
}
.top-five li img{
  height: 160px;
  width: 175px;
  margin: 0 auto;
  border-radius: 25px;
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.2);
  margin-left: 3px;
  margin-right: 3px;
}
.top-five h4{ text-transform: uppercase; margin: 18px 0 25px 0;}
.top-five h4 a{ color: #000000;}

.bottom-right-link{
  float: right;
  color: white;
  background-color: #F8B21F;
  background-image: -webkit-linear-gradient(top,#FFC154,#E47601);
  background-image: -moz-linear-gradient(top,#FFC154,#E47601);
  background-image: -o-linear-gradient(top,#FFC154,#E47601);
  background-image: linear-gradient(to bottom,#FFC154,#E47601);
  background-image: url('../images/noise-orange.png'),-webkit-gradient(linear,0% 0%,0% 100%,from(#FFC154),to(#CE6C04));
  text-shadow: #B94B00 0px 1px 0px;
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  border-radius: 4px;
  padding: 1px 10px 5px;
  cursor: pointer;
}
.bottom-right-link:hover{background:url('../images/noise-orange.png') repeat,-webkit-gradient(linear,left top,left bottom,from(#ffc154),to(#e47601));
  background:-moz-linear-gradient(top,#ffc154,#e47601);
  box-shadow:inset 0px 0px 0px 0px #e08805;
  color:#fff
}
.hidden{
  width: 919px;
  height: 230px;
  background-color: #f4f8de;
  border: 3px solid #f6f6f6;
  border-radius: none;
  display: none;
  float: left;
  margin: -10px 0 10px 10px;
  text-align: left;
/*    box-shadow: inset 0px 13px 39px #ddd;
*/
}
.hidden:nth-of-type(1){
  width: 835px;
}
.hidden p{
  padding: 10px 20px 10px 30px;
  font-family: 'DINNextLTPro-Regular';
}
#welcome{
}
.shadow{
/*  border-radius: 5px;
*/  -moz-box-shadow: 0px 0px 12px 0px #dfdfdf;
  -webkit-box-shadow: 0px 0px 12px 0px #dfdfdf;
  box-shadow: 0px 0px 12px 0px #dfdfdf;
/*  border-radius: 10px;
*/}
.column{
  width: 400px;
  float: left;
}
.whitebox{
    padding: 10px 30px 20px 30px;
    margin-left: -25px;
    margin-bottom: 25px;
    background: white;
    border: 1px solid #DDD;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 3px 0px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.whitebox h2, .whitebox h1{
  text-transform: uppercase;
}
.new{
  background-color: #D7F183;
  padding: 2px 3px 2px 9px;
  margin-right: 12px;
  border-radius: 3px;
  color: #038503;
}
#summary{
/*  background-color: #A7D329;*/
display: none;
  background-color: #8BAA49;
  padding: 10px 30px 20px 30px;
  margin-left: -25px;
  margin-bottom: 25px; 
}
#summary h4{
  text-shadow: none;
  color: white; 
}
.type{color: #80A41A;}
#navbar{
  width: 920px; margin: 0 auto; padding-top: 7px; list-style: none;}
#navbar li{display: inline;
}
#navbar a{color: white;
  font-family: 'DINNextRoundedLTPro-Bold';
  border-left: 1px solid #92B600;
  border-left: 1px solid rgba(146, 182, 0, 0.5);
  border-right: 1px solid #648B00;
  border-right: 1px solid rgba(100, 139, 0, 0.8);
  text-transform: uppercase;
  display: inline-block;
  text-shadow: 0 1px 4px #253500,1px -1px 6px #4E7000;
  text-shadow: 0 1px 3px #253500;
  letter-spacing: 1px;
  margin: 1px 0 0 0;
  padding: 0px 16px 0px 33px;
}
#navbar a:hover{text-shadow: 0 1px 20px #253500;}
.basics-intro{text-decoration: none; text-align: center; margin: -25px 0 25px;color: #434343; font-family: 'DINNextLTPro-Light'; font-weight: 300;}
#basicsnav{padding: 0;
margin: -15px 0 -13px -10px;
}
#directionsType{width: 100%;}
#directionsType li{
  text-align: center; 
  display:inline-block; 
  width: 32%; 
  height: 40px; 
  border-top-left-radius: 8px; 
  border-top-right-radius: 8px;
  padding-top: 15px;

  text-shadow: 1px 1px 4px white;
  font-weight: bolder;
  font-size: 20px;
  color: gray;
  border: 1px solid #E6E1E1;
  min-width: 130px;
  font-family: "DINNextLTPro-Medium", "Helvetica Neue",Helvetica,Arial,sans-serif;
}
#directionsType li{
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(238,238,238,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(238,238,238,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(238,238,238,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(238,238,238,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(238,238,238,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(238,238,238,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
  cursor: pointer;
}
#directionsType li:hover{
  background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(238,238,238,1) 43%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(43%,rgba(238,238,238,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(238,238,238,1) 43%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(238,238,238,1) 43%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(238,238,238,1) 43%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(238,238,238,1) 43%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
}
.explanation{margin-top: -15px;}
.explanation h1{color: #434343; font-family: 'DINNextLTPro-Light'; font-weight: 300;}
.explanation img{float: left; margin: -5px 15px; width: 200px; height: 200px; display: inline-block;}
.explanation h3{margin-left: 15px; color: black; text-decoration: none; margin: 20px 0 -15px;}
.widgetlist{
float: none;}
.widgetlist.three{width: 910px;}
.widgetlist li{display: inline-block; 
/*  width: 230px; */
  width: 295px;
  background: url('../images/dark-noise.jpeg'); 
  min-height: 185px;  
  margin-bottom: 10px;text-align: center;
  margin: 5px;
  box-shadow: 0px 1px 5px #CCC;
  border: 5px solid white;
}
.widgetlist p{margin: 20px 15px 20px 15px;}
.appname{ background-color: white; 
    width: 100%; display: block; height: 35px; 
    padding-top: 15px;
    font-weight: bolder;
/*    background: url('../images/bg.png');
*/    letter-spacing: 0.1em;
    color: #5D8B32;
  }
.widgetlist li:nth-of-type(2){float: left; }

/*.widgetlist.three li:nth-of-type(3){float: left; }
*/.dl_button{
  font-family: 'DINNextLTPro-Light';
  background-color: #A4BB63;
  height: 30px; 
  margin-bottom: 10px; 
  box-shadow: 0px 1px 4px  #ccc;
  color: white;
  text-transform: uppercase;
  font-weight: bolder;
  width: 130px;
  letter-spacing: 0.1em;
  font-size: 15px;
  display: inline-block;
  padding-top: 10px;
  text-align: center;
  cursor: pointer;
}
.dl_button:hover{background-color: #88AD1E; color: whitesmoke !important;
}
.dl_wide{width: 230px; text-align: center;}

/* ------ modal terms and conditions ----- */
div.overdiv { filter: alpha(opacity=55);
  -moz-opacity: .55;
  opacity: .55;
  background-color: #333;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%; height: 100%;
  display: none;
}

div.square { position: fixed;
  top: 200px;
  margin-left: 20%;
  background-color: white;
  border: #f9f9f9;
  height: 375px;
  width: 600px;
  display: none;
  box-shadow: 0px 0px 5px #333
}
.square a{margin: 5px 5px 2px 160px;}            
div.square div.msg { 
  color: black;
  font-size: 20px;
  padding: 15px;
  margin: 0 auto;
  width: 502px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 15px; 
  margin-top: 10px;
}
#termframe{width: 535px; height: 230px; margin-left: 30px;}


.appTypes{
  list-style: none;
  width: 100%;
  background-color: #EAEAEA;
  background-image: -moz-linear-gradient(#FAFAFA, #EAEAEA);
  background-image: -webkit-linear-gradient(#FAFAFA, #EAEAEA);
  background-image: linear-gradient(#FAFAFA, #EAEAEA);
  height: 35px;
  border: 1px solid #eee;
  border-radius: 4px;
  font-family: "DINNextLTPro-Medium", "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.appTypes li{ display: inline;
  width: 25%;
  float: left;
}
.appTypes a {
display: block;
text-align: center;
line-height: 35px;
font-size: 12px;
color: #777;
text-decoration: none;
text-shadow: 0 1px 0 #FFF;
border-right: 1px solid #EEE;
border-right-color: rgba(0, 0, 0, 0.04);
border-left: 1px solid #FCFCFC;
border-left-color: rgba(255, 255, 255, 0.7);
border-bottom: 2px solid #DADADA;
}



/*******************************************************************************
Small Device Styles
******************************************************************************

@media screen and (max-width: 480px) {
  body {
    font-size:14px;
  }

  #downloads {
    display: none;
  }

  .inner {
    min-width: 320px;
    max-width: 480px;
  }

  #project_title {
  font-size: 32px;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
    text-shadow: ;
  }

  h3 {
    font-size: 21px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 12px;
  }

  code, pre {
    min-width: 320px;
    max-width: 480px;
    font-size: 11px;
  }

}
